---
layout: default
---

<div class="row col-md-4">
	
	<img style="border-radius: 35px;" src="valentina.jpg" alt="metaxa">
	<h1 style="text-align:center;">Valentina Pyatkin</h1>
	<p style="text-align:center;">
		Postdoctoral Researcher
		<br>Allen Institute for AI
		<br>University of Washington
	</p>
		<br>
	<div class="row text-center" id="contact-items">
		<a style="padding-right:20px !important" href="mailto:valpyatkin@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
		<!--<a style="padding-right:20px !important" href="content/Metaxa_CV.pdf"><i class="ai ai-cv ai-2x"></i></a> -->
		<a style="padding-right:20px !important" href="https://scholar.google.com/citations?user=E9EgKkMAAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-2x"></i></a>
		<a style="padding-right:20px !important" href="https://x.com/valentina__py"><i class="fa fa-twitter fa-2x"></i></a>
	</div>
	<h2 style="text-align:left;">News</h1>
	<p style="text-align:left;">
	  <ul>
    <li>
     <strong>July. 2025:</strong> I will be giving an invited talk at the ICML workshop on <a href="https://sites.google.com/view/mhf-icml2025">"Models of Human Feedback for AI Alignment"</a>.
    </li>
    <li>
     <strong>May. 2025:</strong> Co-organizing another edition of the 
      <a href="https://solar-colm.github.io/">SoLaR workshop</a> 
      on Socially Responsible Language Modelling Research at COLM 2025.
    </li>
    <li>
     <strong>May. 2025:</strong> 2 papers accepted to ICML, see you in Vancouver!
    </li>
    <li>
     <strong>Mar. 2025:</strong> Invited talk at Stanford on "Designing Trustworthy AI in a Polarized World".
    </li>
    <li>
     Will be serving as Tutorial Chair of EMNLP 2025.
    </li>
    <li>
      <strong>Dec. 2024:</strong> Co-organizing the 
      <a href="https://solar-neurips.github.io/">SoLaR workshop</a> 
      on Socially Responsible Language Modelling Research at NeurIPS 2024.
    </li>
    <li>
     <strong>Oct. 2024:</strong> I'm attending COLM and will also be a mentor at the 
      <a href="https://sites.google.com/view/mlrpenn-mentor/schedule?authuser=0">MLR at Penn workshop</a>!
    </li>
    
    <li><strong>Aug. 2024:</strong> 2 paper awards at ACL 2024!</li>
    
    <li>
      <strong>Jun. 2024:</strong> Serving as Internal Communication Chair for 
      <a href="https://2024.aclweb.org/organization/">ACL 2024</a>
    </li>
    
    <li><strong>Apr. 2024:</strong> Invited talk at the UMass NLP Seminar.</li>
    
    <li><strong>Mar. 2024:</strong> Invited talk at the University of Edinburgh.</li>
    
    <!--<li><strong>Mar. 2024:</strong> Excited to be serving as an Area Chair/Action Editor of ARR.</li>-->
    
    <li>
      <strong>Mar. 2024:</strong> Co-organized the 
      <a href="https://unimplicit2024.github.io/">UnImplicit workshop</a> 
      at EACL-2024.
    </li>
    
    <li>
      <strong>Mar. 2024:</strong> Invited talk at the 
      <a href="https://sites.google.com/view/harvard-efficient-ml">Harvard Efficient ML Seminar</a>.
    </li>

    <li>
      <strong>Mar. 2024:</strong> DAAD sponsored visit to the University of Saarbrücken, the Max Planck Institute for Software Systems and the University of Stuttgart.
    </li>
    
    <li><strong>Feb. 2024:</strong> Invited talk at the UBC NLP group.</li>
    
    <li><strong>Dec. 2023:</strong> Invited talk at Brown/Tübingen.</li>
    
  <!--   <li><strong>Sep. 2023:</strong> Gave a talk at a local Seattle high school on deep learning, LLMs and ethics.</li>-->
    
    <li>
      <strong>Sep. 2023:</strong> Gave an invited talk at the 
      <a href="https://sites.google.com/view/cme2023/home">KR 2023 workshop on Computational Machine Ethics</a>.
    </li>
    
    <li>
      <strong>Jan. 2023:</strong> Invited talk at the 
      <a href="https://jessyli.com/courses/lin393_s23">UT Austin Seminar on "Social Implications and Impact of NLP"</a>.
    </li>
    
    <li>
      <strong>Jul. 2022:</strong> Co-organized the 
      <a href="https://unimplicit2022.github.io/">UnImplicit workshop</a> 
      at NAACL-2022.
    </li>
  </ul>
	</p>
</div>

<div style="margin-left:30px" class="col-md-8 blurb">
<b>I am on the academic job market for faculty positions!</b> Feel free to reach out if you have an opening in your department.
    <div style="text-align:justify">{{ content }}</div>
</div>
