---
layout: default
---

<div class="row col-md-4">
	
	<img style="border-radius: 35px;" src="valentina.jpg" alt="metaxa">
	<h1 style="text-align:center;">Valentina Pyatkin</h1>
	<p style="text-align:center;">
		Postdoctoral Researcher
		<br>Allen Institute for AI
		<br>University of Washington
	</p>
		<br>
	<div class="row text-center" id="contact-items">
		<a style="padding-right:20px !important" href="mailto:valpyatkin@gmail.com"><i class="fa fa-envelope-o fa-2x"></i></a>
		<!--<a style="padding-right:20px !important" href="content/Metaxa_CV.pdf"><i class="ai ai-cv ai-2x"></i></a> -->
		<a style="padding-right:20px !important" href="https://scholar.google.com/citations?user=E9EgKkMAAAAJ&hl=en"><i class="ai ai-google-scholar-square ai-2x"></i></a>
		<a style="padding-right:20px !important" href="https://x.com/valentina__py"><i class="fa fa-twitter fa-2x"></i></a>
	</div>
	<h2 style="text-align:left;">News</h1>
	<p style="text-align:left;">
		<ul>
		<li><strong>Dec. 2024</strong> Co-organizing the [SoLaR workshop](https://solar-neurips.github.io/) on Socially Responsible Language Modelling Research at NeurIPS 2024.
		<br>
		<li> I'm attending COLM and will also be a mentor at the [MLR at Penn workshop](https://sites.google.com/view/mlrpenn-mentor/schedule?authuser=0)!
		<br>
		<li> 2 paper awards at ACL 2024!
		<br>
		<li><strong>Jul. 2024</strong> Serving as Internal Communication Chair for [ACL 2024](https://2024.aclweb.org/organization/)
		<br>
		<li><strong>Apr. 2024</strong> Invited talk at the UMass NLP Seminar.
		<br>
		<li><strong>Mar. 2024</strong> Invited talk at the University of Edinburgh.
		<br>
		<li><strong>Mar. 2024</strong> Excited to be serving as an Area Chair/Action Editor of ARR.
		<br>
		<li><strong>Mar. 2024</strong> Co-organized the [UnImplicit workshop](https://unimplicit2024.github.io/) at EACL-2024.
		<br>
		<li><strong>Mar. 2024</strong> Invited talk at the [Harvard Efficient ML Seminar](https://sites.google.com/view/harvard-efficient-ml).
		<br>
	</ul>
	</p>
</div>

<div style="margin-left:30px" class="col-md-8 blurb">
<b>I am on the academic job market for faculty positions!</b> *Feel free to reach out if you have an opening in your department* .
	<h2 style="text-align:left;">Bio</h1>
    <div style="text-align:justify">{{ content }}</div>
</div>
